@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    max-width: 100%;
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgb(231, 166, 25) rgb(67, 158, 45);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 13px;
}
  
*::-webkit-scrollbar-track {
    background: rgb(67, 158, 45);
}
  
*::-webkit-scrollbar-thumb {
    background-color: rgb(231, 166, 25);
    border-radius: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    width: 100vw;
    height: 10vh;
    background-color: rgb(64, 235, 21);
}

header nav{
    display: flex;
	justify-content: space-between;
	margin: auto 30px;
    font-size: 15pt;
    position: relative;
    top: 43%;
    transform: translateY(-50%); 
}

header nav ul{
    list-style: none;
	display: flex;
    align-items: center;
}

header nav ul li{
    margin: 0 15px;
}

#home{
    width: 100vw;
    height: 85vh;
    background-image: url("../images/img-home.jpg");
    background-size: cover;
    overflow: auto;
    display: flex;
}

#home .title h1{
    margin-top: 120px;
    margin-left: 100px;
    text-align: center;
    font-size: 60pt;
    color: #F8F9E7;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
}

#sobre{
    width: 100vw;
    height: 100vh;
    background-color: #58B88A;
}

.fundo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.fundo .arvores{
    position: relative;
    justify-content: space-between;
}

#arvore1:nth-child(1){
    justify-self: flex-start;
    width: 17vw;
    margin-right: 55vw;
}

#arvore2{
    width: 20vw;
}

.fundo #grama{
    width: 100vw;
    position: absolute;
}

.fundo .texto-sobre{
    position: absolute;
    width: 80vw;
    height: 50vh;
    background-color: rgb(255, 255, 255, 0.5);
    align-self: center;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo .texto-sobre p{
    text-align: center;
    color: white;
    font-size: 40pt;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
}

#projetos{
    width: 100vw;
    height: 150vh;
    background-color: #49A015;
    overflow: auto;
}

#projetos .titulo-projetos{
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 50pt;
    margin-top: 50px;
    text-decoration: underline;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
}

#projetos .container{
    margin-top: 50px;
    width: 100vw;
    height: 112vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: yellow; */
}

#projetos .container .projetos-card{
    width: 250px;
    height: 300px;
    background-color: #E5D1D1;
    border-radius: 17px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

#projetos .container .projetos-card .cabecalho-card{
    width: 250px;
    height: 80px;
    background-color: white;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
}

#projetos .container .projetos-card .cabecalho-card p{
    text-align: center;
    color: #868686;
}

#projetos .container .projetos-card .img-card1{
    background-image: url('../images/fogao-card.png');
    width: 100vw;
    height: 220px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-size: cover;
}

#projetos .container .projetos-card .img-card2{
    background-image: url('../images/planta-card.png');
    width: 100vw;
    height: 220px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-size: cover;
}

#projetos .container .projetos-card .img-card3{
    background-image: url('../images/reciclagem-card.png');
    width: 100vw;
    height: 220px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-size: cover;
}

#projetos .container .projetos-card .img-card4{
    background-image: url('../images/garrafa.png');
    width: 100vw;
    height: 220px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-size: cover;
}

#projetos .container .projetos-card .img-card5{
    background-image: url('../images/quimico-card.png');
    width: 100vw;
    height: 220px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-size: cover;
}

#projetos .container .projetos-card .img-card6{
    background-image: url('../images/omita-card.png');
    width: 100vw;
    height: 220px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    background-size: cover;
}

#projetos .carregar-projetos{
    color: white;
    align-self: center;
    text-align: center;
    font-size: 15pt;
    cursor: pointer;
}

#show-mural #mural{
    position: fixed;
    width: 80vw;
    height: 80vh;
    border-radius: 16px;
    background-color: #64ca28;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 15px 1px black;
}

#show-mural #mural .mural-close{
    width: 100vw;
    height: 10vh;
    background-color: rgb(255, 238, 5);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#show-mural #mural .conteudo-mural{
    width: 100vw;
    height: 88%;
    /* background-color: blue; */
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#show-mural #mural .mural-close .btn-fechar{
    color: red;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
}

#show-mural #mural .mural-img{
    width: 200px;
}

#show-mural #mural .mural-txt{
    /* background-color: purple; */
    width: 50vw;
    font-size: 20px;
}

#sujestoes{
    width: 100vw;
    height: 107vh;
    background-color: #5DB43F;
    overflow: auto;
}

#sujestoes .title-sujestoes{
    text-align: center;
    font-family: Arial;
    font-size: 50pt;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
    margin-top: 30px;
}

#sujestoes .container-sugestao{
    width: 100vw;
    height: 80vh;
    /* background-color: yellow; */
    margin-top: 50px;
    display: block;
    color: white;
    font-size: 18pt;
    font-family: arial;
}

#sujestoes .container-sugestao .div-nome{
    display: flex;
    justify-content: space-between;
}

#sujestoes .container-sugestao .div-nome label{
    margin-left: 30vh;
    margin-top: 0px;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
}

#sujestoes .container-sugestao .div-nome input{
    margin-right: 30vh;
    width: 60%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

#sujestoes .container-sugestao .div-email{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#sujestoes .container-sugestao .div-email label{
    margin-left: 30vh;
    margin-top: 0px;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
}

#sujestoes .container-sugestao .div-email input{
    margin-right: 30vh;
    width: 60%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

#sujestoes .container-sugestao .div-telefone{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#sujestoes .container-sugestao .div-telefone label{
    margin-left: 30vh;
    margin-top: 0px;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
}

#sujestoes .container-sugestao .div-telefone input{
    margin-right: 30vh;
    width: 60%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

#sujestoes .container-sugestao .div-sugestao{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#sujestoes .container-sugestao .div-sugestao label{
    margin-left: 30vh;
    margin-top: 0px;
    text-shadow: 0.1em 0.1em 0.2em rgb(41, 39, 39);
}

#sujestoes .container-sugestao .div-sugestao textarea{
    margin-right: 30vh;
    width: 60%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    resize: none;
    font-family: arial;
}

#sujestoes .container-sugestao .btn-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#sujestoes .container-sugestao .btn-enviar input{
    border-radius: 8px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 13pt;
    box-shadow: 0px 0px 10px 2px #000000;
    border: none;
}

footer{
    width: 100vw;
    height: 25vh;
    background-color: #40EB15;
    font-size: 15pt;
    font-family: arial;
    display: flex;
}

.informacoes{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}

.informacoes .title-footer{
    font-size: 20pt;
    margin-top: 15px;
    margin-left: 20px;
    text-decoration: underline;
}

.informacoes .email{
    margin-top: 25px;
    margin-left: 20px;
}

.informacoes .tel-whats{
    margin-top: 0px;
    margin-left: 20px;
}

.redes-sociais{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes-sociais .title-redes-sociais{
    font-size: 20pt;
}

.redes-sociais .icons{
    display: flex;
    margin-top: 10px;
    width: 20vw;
    justify-content: space-around;
    /* background-color: red; */
}

.redes-sociais .icons img{
    width: 35px;
    height: 35px;
}